*.class

# package file
*.war
*.ear

#kdiff3 ignore
*.orgi

#maven ignore
target/
*.bat

#eclipse ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.path
*.temp

#system ignore
.DS_store
Thumbs.db
/build